<mat-accordion *ngIf="faculty.advisees.length > 0 && authService.checkUsername(faculty.username)">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advisees
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <table class="table">
        <tr class="headers">
          <th>Username</th>
          <th>Name</th>
          <th>Major</th>
          <th>Year</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let advisee of faculty.advisees">
          <th>
            <a [routerLink]="['/student', advisee.username, advisee.term]">{{advisee.username}}</a>
          </th>
          <th>{{advisee.name}}</th>
          <th>{{advisee.majors}}</th>
          <th>Y{{advisee.year}}</th>
          <th>{{advisee.username}}@rose-hulman.edu</th>
        </tr>
      </table>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
