<mat-card>
  <mat-card-content>
    <table class="table">
      <thead>
        <tr class="headers">
          <th>Course</th>
          <th>Description</th>
          <th>Instructor</th>
          <th>Credit</th>
          <th>Term Schedule</th>
        </tr>
        <tr *ngFor="let course of student.courses">
          <th>
            <a (click)="openCourseInfo(course);">{{course.name}}</a>
          </th>
          <th>{{course.description}}</th>
          <th>
            <a (click)="openFacultyInfo(course);">{{course.instructor}}</a>
          </th>
          <th>{{course.creditHours}}</th>
          <th>{{course.filteredTimes}}</th>
        </tr>
      </thead>
    </table>
  </mat-card-content>
</mat-card>
