<div class="container" fxLayout="column" fxLayoutAlgin="center center">
    <mat-card *ngIf="!authService.isSignedIn(); else signOut">
        <mat-card-title fxLayout fxLayoutAlign="center center">
            <h2>Welcome</h2>
        </mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="none center">
            <button mat-raised-button color="accent" (click)="authService.signIn()">
                Sign In
            </button>
            <br />
            Only active Rose-Hulman students and faculty will have access to this site.
        </mat-card-content>
    </mat-card>
    <ng-template #signOut>
        <mat-card>
            <mat-card-title fxLayout fxLayoutAlign="center center">
                <h2>Signed in as {{authService.getName()}}</h2>
            </mat-card-title>
            <mat-card-content fxLayout="column" fxLayoutAlign="none center">
                <button mat-raised-button color="accent" (click)="authService.signOut()">
                    Sign Out
                </button>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>