<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{group.groupName}} Information
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card-content>
      <p>For:
        <a *ngIf="group.forClass; else noClass" [routerLink]="['/course', group.for, term]">{{group.for}}</a>
        <ng-template #noClass>
          <p>{{group.for}}</p>
        </ng-template>
      </p>
      <hr>
      <p>Members:</p>
      <div *ngFor="let member of group.members">
        <div *ngIf="member.type === 'Student'; else faculty">
          <p>
            <a [routerLink]="['/student', member.username, term]">{{member.username}}</a>
            <span> : {{member.name}}</span>
          </p>
        </div>
        <ng-template #faculty>
          <p>
            <a [routerLink]="['/faculty', member.username, term]">{{member.username}}</a>
            <span> : {{member.name}}</span>
          </p>
        </ng-template>
      </div>
      <hr>
      <div *ngIf="isGroupMember" fxLayout="row" fxLayoutAlign="end end">
        <button mat-button color="warn" (click)="delete()">Delete Group</button>
      </div>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
