<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-title>
          <h2>Hello {{authService.getName()}}!</h2>
        </mat-card-title>
        <mat-card-content>
          <p>
            To begin, use the side navigation bar or use the search functionality below. The side nagivagtion bar to go to view a list
            of your classes, create a group for one of the terms, and much more whereas the search functionality below will
            let you view more specific information for a certain term about a course, student, or faculty member.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-member-search></app-member-search>
    </div>
    <div class="col-md-6">
      <app-course-search></app-course-search>
    </div>
  </div>
</div>
