<div class="container">
  <form [formGroup]="groupForm">
    <mat-card>
      <mat-card-title>
        Create a Group
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="start start">
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Group Name" type="text" formControlName="groupName">
          <mat-hint>
            <span [hidden]="groupForm.controls.groupName.valid || groupForm.controls.groupName.pristine">
              A group name is required.
            </span>
          </mat-hint>
        </mat-input-container>
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Class i.e. CSSE230-01" type="text" formControlName="class">
          <mat-hint>
            <span [hidden]="groupForm.controls.class.valid || groupForm.controls.class.pristine">
              A class is required.
            </span>
          </mat-hint>
        </mat-input-container>
        <mat-input-container dividerColor="accent">
          <mat-select placeholder="Term" formControlName="term">
            <mat-option></mat-option>
            <mat-option *ngFor="let term of terms" [value]="term">
              {{term}}
            </mat-option>
          </mat-select>
          <mat-hint>
            <span [hidden]="groupForm.controls.term.valid || groupForm.controls.term.pristine">
              You must select a term.
            </span>
          </mat-hint>
        </mat-input-container>
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Add students by username" type="text" formControlName="students">
          <mat-hint>
            <mat-error *ngIf="studentsEmpty">
              You must have at least one student in a group.
            </mat-error>
          </mat-hint>
        </mat-input-container>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="primary" *ngFor="let student of students" (click)="removeStudent(student)">
            {{student}}
          </button>
        </div>
        <div class="spacer"></div>
        <button mat-raised-button color="accent" (click)="addStudent(groupForm.value.students)" fxLayoutAlign="end center">
          Add Student
        </button>
        <div class="spacer"></div>
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Add faculty by username" type="text" formControlName="faculty">
          <mat-hint>
            <mat-error *ngIf="facultyEmpty">
              You must have at least one student in a group.
            </mat-error>
          </mat-hint>
        </mat-input-container>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="primary" *ngFor="let faculty of facultyMembers" (click)="removeFaculty(faculty)">
            {{faculty}}
          </button>
        </div>
        <div class="spacer"></div>
        <button mat-raised-button color="accent" (click)="addFaculty(groupForm.value.faculty)" fxLayoutAlign="end center">
          Add Faculty
        </button>
        <div class="spacer"></div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
        <button mat-raised-button class="mat-primary" [disabled]="!groupForm.valid"  (click)="viewGroup(groupForm.value)">
          Add Group
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
