<div class="container">
  <form [formGroup]="groupForm">
    <mat-card>
      <mat-card-title>
        Create a Group
      </mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="start start">
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Group Name" type="text" formControlName="groupName">
          <mat-hint>
            <span [hidden]="groupForm.controls.groupName.valid || groupForm.controls.groupName.pristine">
              A group name is required.
            </span>
          </mat-hint>
        </mat-input-container>
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Description" type="text" formControlName="description">
          <mat-hint>
            <span [hidden]="groupForm.controls.description.valid || groupForm.controls.description.pristine">
              A description is required.
            </span>
          </mat-hint>
        </mat-input-container>
        <label>Is this group for a specific class?</label>
        <mat-radio-group formControlName="forClass">
          <mat-radio-button value="true">Yes</mat-radio-button>
          <mat-radio-button value="false">No</mat-radio-button>
        </mat-radio-group>
        <mat-input-container dividerColor="accent">
          <mat-select placeholder="Term" formControlName="term">
            <mat-option></mat-option>
            <mat-option *ngFor="let term of terms" [value]="term">
              {{term}}
            </mat-option>
          </mat-select>
          <mat-hint>
            <span [hidden]="groupForm.controls.term.valid || groupForm.controls.term.pristine">
              You must select a term.
            </span>
          </mat-hint>
        </mat-input-container>
        <mat-input-container dividerColor="accent">
          <input matInput placeholder="Add members by username" type="text" formControlName="members">
          <mat-hint>
            <mat-error *ngIf="membersEmpty">
              You must have at least one member in the group.
            </mat-error>
          </mat-hint>
        </mat-input-container>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="primary" *ngFor="let member of members" (click)="removeMember(member)">
            {{member}}
          </button>
        </div>
        <div class="spacer"></div>
        <button mat-raised-button color="accent" (click)="addMember(groupForm.value.members)" fxLayoutAlign="end center">
          Add Member
        </button>
        <div class="spacer"></div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
        <button mat-raised-button class="mat-primary" [disabled]="!groupForm.valid" (click)="viewGroup(groupForm.value)">
          Add Group
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
