<mat-card class="container">
  <mat-card-title>{{course}}</mat-card-title>
  <mat-card-content>
    <h4>List of all students who:</h4>
    <p>-  Have taken {{course}}</p>
  </mat-card-content>
</mat-card>


<mat-card class="container">
  <mat-card-content>
    <table class="table">
      <thead>
        <tr class="headers">
          <th>Name</th>
          <th>Username</th>
          <th>Major</th>
          <th>Year</th>
          <th>Advisor</th>
        </tr>
        <tr *ngFor="let student of students">
          <th>{{student.name}}</th>
          <th>
            <a [routerLink]="['/student', student.username, student.term]">{{student.username}}</a>
          </th>
          <th>{{student.majors}}</th>
          <th>{{student.year}}</th>
          <th>
              <a [routerLink]="['/faculty', student.advisor, student.term]">{{student.advisor}}</a>
            </th>          
          </tr>
      </thead>
    </table>
  </mat-card-content>
</mat-card>
