<div *ngFor="let faculty of faculty" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="terms" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <button mat-button *ngIf="previousTerm.term !== ''; else previous" [routerLink]="['/faculty', faculty.username, previousTerm.term]">
            <mat-icon>keyboard_arrow_left</mat-icon> Previous Term
          </button>
          <ng-template #previous>
            <button mat-button disabled>
              <mat-icon>keyboard_arrow_left</mat-icon> Previous Term
            </button>
          </ng-template>
        </div>
        <button mat-raised-button color="accent">{{curTerm.name}}</button>
        <div>
          <button mat-button *ngIf="nextTerm.term !== ''; else next" [routerLink]="['/faculty', faculty.username, nextTerm.term]">
            Next Term
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <ng-template #next>
            <button mat-button disabled>
              Next Term
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-faculty-desc [faculty]="faculty"></app-faculty-desc>
    </div>
    <div class="col-md-9">
      <app-faculty-course-info [faculty]="faculty"></app-faculty-course-info>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-faculty-advisees [faculty]="faculty"></app-faculty-advisees>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-faculty-schedule [schedule]="schedule"></app-faculty-schedule>
    </div>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="col-md-3" *ngFor="let group of groups">
        <mat-card>
          <mat-card-title>
            <a [routerLink]="['/group', group._id]">{{group.groupName}}</a>
          </mat-card-title>
          <mat-card-content>
            <p>For:
              <a *ngIf="group.forClass; else noClass" [routerLink]="['/course', group.description, term]">{{group.description}}</a>
              <ng-template #noClass>
                <p>{{group.description}}</p>
              </ng-template>
            </p>
            <hr>
            <p>Members:</p>
            <p *ngFor="let member of group.members">
              <a *ngIf="member.type === 'Student'; else faculty" [routerLink]="['/student', member.username, term]">{{member.username}}</a>
              <ng-template #faculty>
                <a [routerLink]="['/faculty', member.username, term]">{{member.username}}</a>
              </ng-template>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>
