<div *ngFor="let faculty of faculty" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="terms" fxLayout="row" fxLayoutAlign="space-around center">
        <div *ngFor="let term of terms">
          <button mat-raised-button *ngIf="term === faculty.term; else normalButton">{{term}}</button>
          <ng-template #normalButton>
            <button mat-button [routerLink]="['/faculty', faculty.username, term]">{{term}}</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-faculty-info [faculty]="faculty"></app-faculty-info>
    </div>
    <div class="col-md-9">
      <app-faculty-course-info [faculty]="faculty"></app-faculty-course-info>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <app-faculty-advisees [faculty]="faculty"></app-faculty-advisees>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <app-faculty-schedule [schedule]="schedule"></app-faculty-schedule>
    </div>
  </div>
</div>
