<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="container">
          <mat-card-title>
            <div *ngIf="amount > 1; else single">
              Listing all {{amount}} Y{{year}} students who have not taken {{course}}
            </div>
            <ng-template #single>
              <div *ngIf="amount === 1; else zero">
                Listing one Y{{year}} student who has not taken {{course}}
              </div>
              <ng-template>
                No Y{{year}} students have not taken {{course}}
              </ng-template>
            </ng-template>
            <span fxFlex></span>
            <mat-radio-group fxLayout="row" fxLayoutAlign="end start">
              <div *ngFor="let val of radioVals">
                <mat-radio-button [value]="val" [checked]="isCurrentRoute(val)" (click)="switchYear(val)">{{val}}</mat-radio-button>
              </div>
            </mat-radio-group>
          </mat-card-title>
          <mat-card-content *ngIf="amount > 0">
            <table class="table">
              <thead>
                <tr class="headers">
                  <th>Name</th>
                  <th>Username</th>
                  <th>Major</th>
                  <th>Year</th>
                  <th>Advisor</th>
                </tr>
                <tr *ngFor="let student of students">
                  <th>{{student.name}}</th>
                  <th>
                    <a [routerLink]="['/student', student.username, student.term]">{{student.username}}</a>
                  </th>
                  <th>{{student.major}}</th>
                  <th>{{student.year}}</th>
                  <th>
                    <a [routerLink]="['/faculty', student.advisor, student.term]">{{student.advisor}}</a>
                  </th>
                </tr>
              </thead>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  