<mat-toolbar color="primary">
  Schedule Lookup
  <span fxFlex></span>
  <button mat-button *ngIf="!authService.isSignedIn; else options" (click)="authService.signIn()">
    Login
  </button>
  <ng-template #options>
    <button mat-button [matMenuTriggerFor]='menu'>
      {{authService.getName()}} <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/student', authService.getUsername()]">
        My Courses
      </button>
      <button mat-menu-item (click)="authService.signOut()">
        Log Out
      </button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
