<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="terms" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <button mat-button *ngIf="previousTerm !== ''; else previous" [routerLink]="['/course', name, previousTerm]">
            <mat-icon>keyboard_arrow_left</mat-icon> Previous Term
          </button>
          <ng-template #previous>
            <button mat-button disabled>
              <mat-icon>keyboard_arrow_left</mat-icon> Previous Term
            </button>
          </ng-template>
        </div>
        <button mat-raised-button color="accent">{{curTerm}}</button>
        <div>
          <button mat-button *ngIf="nextTerm !== ''; else next" [routerLink]="['/course', name, nextTerm]">
            Next Term
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <ng-template #next>
            <button mat-button disabled>
              Next Term
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-course-faculty-info [course]="course"></app-course-faculty-info>
    </div>
    <div class="col-md-9">
      <app-course-information></app-course-information>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-course-student-info [students]="students"></app-course-student-info>
    </div>
  </div>
</div>
