<div *ngFor="let student of student" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="terms" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
          <button mat-button *ngIf="previousTerm.term !== ''; else previous" [routerLink]="['/student', student.username, previousTerm.term]">
            <mat-icon>keyboard_arrow_left</mat-icon> Previous Term
          </button>
          <ng-template #previous>
            <button mat-button disabled>
              <mat-icon>keyboard_arrow_left</mat-icon> Previous Term
            </button>
          </ng-template>
        </div>
        <button mat-raised-button color="accent">{{curTerm.name}}</button>
        <div>
          <button mat-button *ngIf="nextTerm.term !== ''; else next" [routerLink]="['/student', student.username, nextTerm.term]">
            Next Term
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <ng-template #next>
            <button mat-button disabled>
              Next Term
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-student-term-information [student]="student"></app-student-term-information>
    </div>
    <div class="col-md-9">
      <app-student-course-info [student]="student"></app-student-course-info>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-student-schedule [student]="student" [days]="days" [hours]="hours" [schedule]="schedule"></app-student-schedule>
    </div>
  </div>
  <div class="row" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="col-md-3" *ngFor="let group of groups">
      <mat-card>
        <mat-card-title>
          <a [routerLink]="['/groups', group._id]">{{group.groupName}}</a>
        </mat-card-title>
        <mat-card-content>
          <p>For:
            <a [routerLink]="['/course', group.className, term]">{{group.className}}</a>
          </p>
          <hr>
          <p *ngIf="group.faculty.length === 1; else clients">Client:</p>
          <ng-template #clients>
            <p>Clients:</p>
          </ng-template>
          <p *ngFor="let client of group.faculty">
            <a [routerLink]="['/faculty', client, term]">{{client}}</a>
          </p>
          <hr>
          <p *ngIf="group.students.length === 1; else members">Members:</p>
          <ng-template #members>
            <p>Members:</p>
          </ng-template>
          <p *ngFor="let member of group.students">
            <a [routerLink]="['/student', member, term]">{{member}}</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
